$border-radius: 1.25rem;

.card {
  border-radius: 1.25rem;
  position: relative;
  border: none;
  margin: 0.25rem;

  img {
    width: 100%;
    height: 278px;
    border-radius: $border-radius;
    background-color: #333;
    object-fit: cover;
  }

  .card-body {
    position: absolute;
    bottom: 0;
    border-radius: $border-radius;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

@media (max-width: 767px) {
  .card {
    width: 45vw;
  }
}

@media (min-width: 768px) {
  .card {
    width: 30vw;
  }
}

@media (min-width: 992px) {
  .card {
    width: 184px;
  }
}
