<div class="card" appCardHover (click)="selectMovie()" *ngIf="this.movie">
  <img
    src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{
      this.movie.backdrop_path
    }}"
    onerror="this.src='https://www.myfirestorm.com/l/img/placeholder-img.jpg'"
  />
  <div class="card-body p-2 w-100">
    <p class="font-weight-bold text-truncate py-0 my-1">
      {{ this.movie.title }}
    </p>
    <div class="row px-3 d-flex flex-row justify-content-between">
      <p class="py-0 my-0">
        <i class="fa fa-star px-1 text-success"></i>{{ movie.vote_average }}
      </p>
      <p class="py-0 my-0">
        {{ movie.vote_count }}<i class="fa fa-user px-1 text-primary"></i>
      </p>
    </div>
  </div>
</div>
