.active-route {
  color: #fff !important;
  opacity: 1;
  font-weight: bold;
}

.dropdown {
  border-radius: 0;

  .nav-link {
    padding: 0rem 1rem;
    margin: 0.5rem 0;

    span > i {
      font-size: 0.75rem;
      padding: 0 0.5rem;
      margin: 0 auto;
      line-height: 23px;
      vertical-align: bottom;
    }
  }

  ul {
    li {
      list-style: none;
    }
    padding: 0;
  }
}

.rotate {
  -moz-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.rotate.down {
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
