<!-- Renders different elements based on the window with for a responsive application that's mobile friendly -->

<nav
  class="navbar navbar-expand justify-content-center fixed-top container-fluid navbar-dark bg-dark d-none d-sm-block"
>
  <ul class="navbar-nav w-75">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/movies/recent"
        routerLinkActive="active-route"
        >Movies</a
      >
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" routerLink="/weather" routerLinkActive="active-route">
        <span (click)="preventDropdownNavigation($event)">
          Weather <i class="fa fa-chevron-down rotate"></i>
        </span>
      </a>
      <div class="dropdown-menu bg-dark">
        <ul>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/weather/all"
              routerLinkActive="active-route"
              >Weather</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/weather/map"
              routerLinkActive="active-route"
              >Map View</a
            >
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/currency" routerLinkActive="active-route"
        >Currency</a
      >
    </li>
    <!-- <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/documentation"
        routerLinkActive="active-route"
        >Documentation</a
      >
    </li> -->
  </ul>
</nav>

<nav
  class="navbar navbar-expand justify-content-center fixed-bottom container-fluid navbar-dark bg-dark d-block d-sm-none"
>
  <ul class="navbar-nav justify-content-around">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/movies/recent"
        routerLinkActive="active-route"
        ><i class="fa fa-film"></i
      ></a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/weather/all"
        routerLinkActive="active-route"
        ><i class="fa fa-cloud"></i
      ></a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/weather/map"
        routerLinkActive="active-route"
        ><i class="fa fa-globe"></i
      ></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/currency" routerLinkActive="active-route"
        ><i class="fa fa-bitcoin"></i
      ></a>
    </li>
  </ul>
</nav>
