<div class="card h-auto">
  <div class="card-body justify-content-between d-flex flex-column">
    <div class="justify-content-start align-items-start text-center">
      <div>{{ coin.name }}</div>
      <i class="cc {{ coin.symbol }}"></i>
      <div>{{ coin.symbol }}</div>
      <div class="small">Last Value</div>
      <div>{{ coin.price | formatTo2DP | addCurrencySymbol }}</div>
    </div>
    <button
      class="btn-currency btn-gradient-primary btn-block"
      (click)="selectCoin()"
      hover
    >
      View
    </button>
  </div>
</div>
