@media (max-width: 767px) {
  app-currency-card {
    width: 100%;
  }
}
@media (min-width: 768px) {
  app-currency-card {
    width: 50%;
  }
}
@media (min-width: 992px) {
  app-currency-card {
    width: 33.33333333%;
  }
}

@media (min-width: 1300px) {
  app-currency-card {
    width: 25%;
  }
}
