.forecast-card {
  border-radius: 0rem;
  padding: 1rem;
  height: 175px;
}
.weather-icon {
  font-size: 2rem;
}

@media (max-width: 570px) {
  .forecast-card {
    width: 90px;
  }
}
@media (min-width: 571px) {
  .forecast-card {
    width: 150px;
  }
}
