<div class="d-flex align-items-center m-0 h-100" *ngIf="!this._movies">
  <movie-loading></movie-loading>
</div>

<div *ngIf="this._movies">
  <div
    class="d-flex justify-content-center flex-wrap movie-carousel"
    style="width:100vw"
  >
    <movie-movie-card
      (selectMovie)="selectMovie(movie)"
      *ngFor="let movie of this._movies"
      [movie]="movie"
    ></movie-movie-card>
  </div>
  <movie-modal #movieModal [movie]="this.selectedMovie"></movie-modal>
</div>

<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-12 p-0">
      <movie-header></movie-header>
    </div>
  </div>
  <div class="row justify-content-center" style="padding-top: 56px">
    <router-outlet></router-outlet>
  </div>
</div> -->
