@media (max-width: 570px) {
  #app-body {
    padding-top: 0px;
    padding-bottom: 56px;
  }
}
@media (min-width: 571px) {
  #app-body {
    padding-top: 56px;
    padding-bottom: 0px;
  }
}
#app-body {
  overflow-x: hidden;
  height: 100vh;
}
