.card {
  .card-header {
    fa-icon:hover,
    i:hover {
      cursor: pointer;
    }
    fa-icon,
    i {
      padding: 0 0.25rem;
    }
    font-size: 1.5rem;
  }

  // For padding aroung the height of the card
  max-height: calc(100% - 2rem);
}

@media (max-width: 767px) {
  .card {
    width: 95%;
  }
}
@media (min-width: 768px) {
  .card {
    width: 90%;
  }
}
@media (min-width: 992px) {
  .card {
    width: 75%;
  }
}

@media (min-width: 1300px) {
  .card {
    width: 50%;
  }
}
