<div
  class="d-flex currency justify-content-center h-100 align-items-center"
  *ngIf="coin | async"
>
  <div class="card h-auto">
    <div class="card-header">
      <fa-icon [icon]="faChevronLeft" (click)="navigateBack()"></fa-icon>
      <i class="cc {{ symbol }}" (click)="navigateBack()"></i>
      {{ name }}
    </div>
    <div class="card-body scroll">
      <p>
        <strong>Latest Value:</strong>
        {{ (coin | async)?.price | formatTo2DP | addCurrencySymbol }}
      </p>
      <p><strong>Volume 24hr:</strong> {{ (coin | async)?.volume  }}</p>
      <p>
        <strong>Last Calculated:</strong>
        {{ (coin | async)?.timestamp | date: "MM/dd/yyyy hh:mm" }}
      </p>
      <p>
        {{ "100" | addCurrencySymbol }} :
        {{ calculateQuantity((coin | async)?.price, 100) }}
      </p>
      <p>
        {{ "250" | addCurrencySymbol }} :
        {{ calculateQuantity((coin | async)?.price, 250) }}
      </p>
      <p>
        {{ "5,000" | addCurrencySymbol }} :
        {{ calculateQuantity((coin | async)?.price, 5000) }}
      </p>
    </div>
  </div>
</div>
