@media (max-width: 767px) {
  .city-card {
    margin: 1rem;
    min-width: calc(100vw - 4rem);
    .head-icon {
      font-size: 3rem;
    }
  }
}
@media (min-width: 768px) {
  .city-card {
    margin: 1rem;
    min-width: calc(50vw - 4rem);
    .head-icon {
      font-size: 4rem;
    }
  }
}
@media (min-width: 992px) {
  .city-card {
    margin: 2rem;
    min-width: calc(33vw - 5rem);
    .head-icon {
      font-size: 6rem;
      margin-top: 2rem;
    }
  }
}

.city-card {
  padding: 1rem;
}

h4 {
  vertical-align: middle;
}

img {
  width: 50px;
}

.weather-meta > div > p {
  padding: 0;
  margin: 0;
}
