$bg-body-color: #484d53;
$navbar-height: 56px;
$full-height: calc(100vh - #{$navbar-height});

$primary-dark: #0e131a;
$primary-light: #191f28;
$accent: #e56590;
$lavender: #e7eaf0;
$body-bg: #f0f0f0;

$text-light: #b6b6b7;
$text-dark: $primary-light;

// to use in bootstrap class colors
$theme-colors: (
  "primary-dark": $primary-dark,
  "primary-light": $primary-light,
  "accent": $accent,
  "body-bg": $body-bg,
  "primary": $accent
);

// gradients
$gradient-primary: linear-gradient(90deg, #ffb88c, #e56590);
$gradient-secondary: linear-gradient(90deg, #4ccbab, #3e75c8);
