@import "./variables";

$body-bg: $bg-body-color;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/font-awesome/css/font-awesome.css";
@import "../node_modules/weathericons/css/weather-icons-wind.min.css";
@import "../node_modules/weathericons/css/weather-icons.min.css";
@import "../node_modules/leaflet/dist/leaflet.css";
@import "../node_modules/cryptocoins-icons/webfont/cryptocoins.css";

body {
  overflow-x: hidden;

  div.currency {
    color: $text-light;
  }
}

.card {
  border-radius: 1.25rem;
  border: none;
}

.Rain {
  background: linear-gradient(45deg, #83a4d4, #b6fbffff);
}

.Clear {
  background: linear-gradient(45deg, #ede574, #e1f5c4);
}

.Clouds {
  background: linear-gradient(45deg, #abbaab, #ffffff);
}

.Thunderstorm {
  background: linear-gradient(45deg, #83a4d4, #b6fbffff);
}

.Drizzle {
  background: linear-gradient(45deg, #ede574, #e1f5c4);
}

.Snow {
  background: linear-gradient(45deg, #abbaab, #ffffff);
}

.Mist,
.Smoke,
.Haze,
.Dust {
  background: linear-gradient(45deg, #83a4d4, #b6fbffff);
}

.Sand {
  background: linear-gradient(45deg, #ede574, #e1f5c4);
}

.Sand,
Squall {
  background: linear-gradient(45deg, #abbaab, #ffffff);
}

.Tornado {
  background: linear-gradient(45deg, #83a4d4, #b6fbffff);
}

#mdFiles {
  background-color: #f5f5f5;
  h1,
  h2 {
    font-size: 1.8rem;
    height: auto;
    font-weight: normal;
    padding: 0.8rem 0;
    margin-bottom: 10px;
  }

  h1 {
    margin-top: -15px;
    text-align: center;
  }

  h2 {
    margin-top: 2rem;
  }
  pre {
    background-color: #201a1c;
    color: white;
    padding: 1rem;
    border-radius: 1.25rem;
    overflow-x: auto;
    max-width: 95vw;
  }
  p {
    font-weight: 500;
  }
  h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  code {
    margin-top: -2.5rem;
  }
}

.scroll::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0.25rem;
  // margin: 1.25rem;
}

@media (max-width: 570px) {
  .scroll::-webkit-scrollbar,
  body::-webkit-scrollbar {
    height: 0.25rem;
  }
}
@media (min-width: 571px) {
  .scroll::-webkit-scrollbar,
  body::-webkit-scrollbar {
    height: 0.5rem;
  }
}

.scroll {
  overflow-x: hidden;
  overflow-y: auto;
}

.scroll::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 900;
  border-radius: 2.5rem;
}

.dropdown:hover {
  cursor: pointer;
}

.hover-directive {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.shadow {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.125);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.125);
}
.btn-gradient-primary {
  background: $gradient-primary;
  color: #fff;
}

.btn-currency {
  border-radius: 2.5rem;
  border: none;
}

.btn-currency:hover {
  color: #fff;
}
