@import "../../../../../variables";

.input-group {
  background-color: #fff;
  border-radius: 0.75rem;

  .input-group-prepend {
    vertical-align: middle;
  }

  input {
    border: none;
    border-radius: 0.75rem;
    outline: none !important;
    outline-color: transparent !important;
    outline-style: none !important;
  }
  input:focus {
    outline: none !important;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  input::placeholder {
    color: $text-light;
  }
}
.btn-group {
  border-radius: 0.75rem;
  .btn {
    background-color: $text-light;
    color: #fff;
  }
  .btn:hover {
    cursor: pointer;
  }
  .btn-gbp {
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
  }
  .btn-usd {
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
  }
  .currency-active {
    background-color: $accent;
  }
}

.currency-list-container {
  background-color: #fff;
  height: auto;
  width: 100%;
  position: absolute;
  top: 45px;
  border-radius: 0.75rem;
  z-index: 1;
}

@media (max-width: 767px) {
  .currency-list-container {
    max-height: calc(100vh - 60px);
  }
}
@media (min-width: 768px) {
  .currency-list-container {
    max-height: calc(50vh - 60px);
  }
}
