<div class="p-2 d-flex flex-row align-items-center">
  <div
    class="input-group shadow d-flex align-items-center"
    id="search-currency"
  >
    <div class="input-group-prepend px-2">
      <fa-icon [icon]="faSearch"></fa-icon>
    </div>
    <input
      type="text"
      class="form-control"
      placeholder="{{ placeholder }}"
      (ngModelChange)="search($event)"
      [(ngModel)]="searchValue"
    />
    <div
      class="currency-list-container shadow scroll px-2"
      id="currency-list-container"
      [hidden]="!isSearching"
    >
      <app-add-currency-to-list-item
        *ngFor="
          let currency of currencyList | async | filterCurrencyList: searchValue
        "
        [currency]="currency"
        (click)="hideList()"
      ></app-add-currency-to-list-item>
    </div>
  </div>
</div>
